body {
  background-image: url("rick roll.gif");
  background-size: cover;
  background-position: 0% 33%;
}

#gottem {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: 15%;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
}

.gottem-text {
  display: flex;
  font-size: 5em;
  font-family: 'Lexend Deca', sans-serif;
}

.gottem-image {
  display: flex;
}
