body {
  background-image: url("rick roll.gif");
  background-size: cover;
  background-position: 0% 33%;
  margin: 0;
}

#gottem {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: 15%;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
}

@keyframes rainbow_animation {
  0%,100% {
      background-position: 0 0;
  }

  50% {
      background-position: 100% 0;
  }
}

.gottem-text {
  background: linear-gradient(to right, #ff3399, #6666ff, #0099ff , #00ff00, #6666ff);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
  animation: rainbow_animation 6s ease-in-out infinite;
  background-size: 400% 100%;
  display: flex;
  font-size: 5em;
  font-family: 'Lexend Deca', sans-serif;
}

.gottem-image {
  display: flex;
  margin-right: 8px;
}

.gottem-image img {
  height: 7em;
}
